.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: 20px;
  float: right;
}
ul.links li {
  margin-right: 20px;
  margin-left: 0;
}
.sidebar .category .box-heading .fa {
  margin-left: 10px;
  margin-right: 0;
}
.pav-megamenu .dropdown-submenu > .dropdown-menu {
  right: 92%;
  left: auto;
}
.pav-megamenu .mega-col .mega-col-inner > ul > li > a:hover,
.pav-megamenu .dropdown-menu-inner ul li > a:hover {
  padding-right: 12px;
  padding-left: 0;
  background-position: right 10px;
}
#pav-mainnav .navbar-default .navbar-nav > .dropdown > a .caret:before {
  right: auto;
  left: -15px;
}
#pav-mainnav .caret {
  margin-left: 0;
  margin-right: 5px;
}
#pav-mainnav .dropdown-menu ul li.parent:hover > .dropdown-menu {
  left: auto;
  right: 100%;
}
.btn-group .dropdown-menu {
  right: auto;
  left: 0;
}
.shapes.right {
  left: auto;
  right: 0;
  border-left: 0px solid #EEEEEE;
  border-right: 5px solid #EEEEEE;
}
.line {
  left: auto;
  right: 0;
}
.close {
  float: left;
}
.addthis_toolbox.addthis_default_style {
  float: right !important;
}
.product-info .action {
  clear: both;
}
.pagination-link .pagination {
  float: right;
}
.pagination-link .results {
  float: left;
}
.compare-info thead td,
.compare-info thead tr td:first-child {
  text-align: right;
}
.compare-info tr td:first-child,
.mini-cart-total,
#header #cart .checkout {
  text-align: left;
}
.buttons .right {
  float: left;
  text-align: left;
}
.tabs-group ul li a {
  float: right;
}
.carousel-controls {
  right: auto;
  left: 0px;
}
.carousel-control.right {
  right: -25px;
}
.carousel-control.left {
  left: 0;
}
.text-right {
  text-align: left;
}
.text-left {
  text-align: right;
}
.rtl .nav-tabs > li {
  float: right;
}
.rtl .blog-meta > span,
.rtl .blog-social .social-wrap > div {
  float: right;
}
.rtl #pav-categorymenu ul li span {
  left: 10px;
  right: auto;
}
.rtl .comment-link {
  float: left;
  margin-left: -20px;
}
.rtl .productdeals .product-filter > div {
  float: right;
}
.rtl .blog-header .created {
  float: right;
  right: 8px;
  left: auto;
}
.rtl .comment-item img {
  float: right;
  padding-left: 12px;
  padding-right: 0;
}
.rtl .pavblogs-comments-box img {
  float: right;
  padding-left: 12px;
  padding-right: 0;
}
.rtl #comment-form label {
  text-align: right;
}
.rtl .accordion-group label {
  float: right;
}
.rtl .clear-bg {
  float: left;
}
.rtl .newsletter_block .title_block {
  text-align: left;
}
.rtl .newsletter_block .block_content .wrap-input {
  float: right;
}
.rtl .newsletter_block .block_content .wrap-input .button_mini {
  right: inherit;
  left: 1px;
}
.rtl .newsletter_block .block_content .wrap-input i {
  right: inherit;
  left: 0;
}
.rtl .newsletter_block .alert-danger,
.rtl .alert-success {
  left: 100%;
  right: 100%;
}
.product-filter .display {
  float: right;
  margin-right: 0;
}
.product-filter .product-compare {
  float: left;
}
.product-filter .sort,
.product-filter .limit {
  float: left;
}
.product-block {
  text-align: right;
}
.product-block .pav-colorbox span {
  margin-left: 0;
  margin-right: 6px;
}
.product-block .action > * {
  float: right;
}
.product-block .action .button-group .compare {
  margin: 0 5px;
}
.productcarousel .product-block .image,
.product-related .product-block .image {
  margin-left: 12px;
  margin-right: 0;
  float: right;
}
.pav-categoryproducts .box-content .carousel-controls {
  right: auto;
  left: 0;
}
.pav-categoryproducts .box-content .carousel-controls .left {
  left: auto;
  right: -38px;
}
.pav-categoryproducts .box-content .carousel-controls .right {
  left: auto;
  right: -60px;
}
.navbar-header {
  float: right;
}
#pav-mainnav .dropdown:hover > .dropdown-menu {
  left: auto;
  right: 0;
}
.navbar-nav > li {
  float: right;
}
.newsletter_block button.button_mini {
  right: -5px;
}
.product-block .cart button.button {
  background-position: 82% center;
}
#pav-mainnav .navbar ul.nav > li.aligned-fullwidth > .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  right: 0;
  left: auto;
}
#pav-mainnav .navbar ul.nav > li.aligned-right .dropdown-menu {
  left: 0;
  right: auto;
}
#pav-mainnav .navbar ul.nav > li.aligned-right .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  left: 100%;
}
#pav-mainnav .navbar ul.nav > li.aligned-left .dropdown-menu {
  right: 0;
  left: auto;
}
#pav-mainnav .navbar ul.nav > li.aligned-left .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  right: 100%;
}
#pav-mainnav .navbar ul.nav > li.aligned-center .dropdown-menu {
  right: 50%;
  transform: translate(50%);
  -webkit-transform: translate(50%);
  -moz-transform: translate(50%);
  -ms-transform: translate(50%);
  -o-transform: translate(50%);
}
.product-label-special {
  right: auto;
  left: 6px;
}
.product-list .image {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.product-list .product-label-special {
  right: 6px;
  left: auto;
}
.product-list .product_quickview a,
.product-list .compare a,
.product-list .wishlist a {
  text-align: right;
}
.zoomWindow {
  left: auto;
  right: 390px !important;
}
#customize-body input[type="text"],
#customize-body select {
  margin: 0 0px 0 5px !important;
}
.btn.btn-shopping-cart > * {
  float: right;
}
#pav-paneltool .paneltool form > * {
  float: right;
}
#search .input-search {
  border-width: 1px;
}
.media > .pull-left {
  margin-right: 0;
  margin-left: 10px;
}
.blog-meta > span i {
  margin: 0 0 0 5px !important;
}
.paneltool {
  left: auto !important;
  right: -322px;
}
.panelbutton {
  right: auto !important;
  left: -37px;
}
.editortool .label-customize {
  right: auto !important;
  top: 220px !important;
  left: -165px;
  -webkit-transform: rotate(222deg);
  -moz-transform: rotate(222deg);
  -ms-transform: rotate(222deg);
  -o-transform: rotate(222deg);
  transform: rotate(222deg);
}
.paneltool.active {
  right: 0;
}
.offcanvas-menu .button-close-menu {
  left: 0;
  right: auto;
}
.offcanvas-menu ul li a.dropdown-toggle .caret {
  left: 15px;
  right: auto;
}
